*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --main-color: #171a19;
    --text-color: black;
    --secondtext-color:#ffffff;
    --bg-color:rgb(157, 199, 248);
    --image-color: rgba(0,0,0,0.2) ;
    --box-shadow: 2px 5px 10px rgba(37, 36, 36, 0.836) ;
}

img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 10;
 }
 
 nav{
     width: 100%;
     height: 100%;
     background: var(--main-color);
     padding: 30px 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .logo img{
    width: 120px;
}

/* MOBILE MENU HERE START */

.nav-menu{
    display: none;
}
#cancel{
    display: none;
}

/* MONBILE END HERE */


header nav ul li{
    display: inline;
    align-items: center;
    font-size: 17px;
    margin: 0 20px 0 10px;
}
ul li a{
    color: var(--secondtext-color);
    text-decoration: none;
    text-transform: capitalize;
}
ul li a i{
    font-size: 16px;
    margin-right: 5px;
}
header nav  li:hover a{
    color: var(--bg-color);
}
.account{
    padding: 9px 9px;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.account a{
    font-weight: 500;
    font-size: 17px;
    color: #000;
}
.account i{
    margin-left:5px ;
}


                /* MIAN CONTENT SECTION HERE */

main{
    width: 100%;
}
.hero-text{
    background-color:#000000;
    background-image:url(/src/background/ICO-hero-image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.hero-text h1{
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    color: var(--secondtext-color);
}

.hero-text p{
    text-transform: uppercase;
    color: var(--secondtext-color);
    margin: 40px 0 0 40px;
    text-align: center;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 1.8px;
}
.hero-text .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.hero-text button{
    font-size: 17px;
    text-transform: capitalize;
    color:var(--secondtext-color);
    background-color: var(--primary-color);
    padding: 15px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.hero-text button:hover{
    background-color: var(--secondtext-color);
    color: var(--primary-color);
    transition: .9s;
}

.floot-icons{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 45%;
    right: 0;
    margin-right: 5px;
    z-index: 10;
}

.floot-icons i{
    font-size: 20px;
    padding: 7px;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}
.floot-icons i:hover{
    color: var(--secondtext-color);
    background-color: var(--main-color);
}


.card{
    width: 60%;
    height: 70vh;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: var(--bg-color);
    top: 6rem;
}

.card .slider{
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    background-color: #000;
    position: absolute;
}


.card .slider img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

@keyframes slide{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    60%{
        left: -200%;
    }
    70%{
        left: -300%;
    }
    80%{
        left: -300%;
    }
    90%{
        left: -400%;
    }
    100%{
        left: -400%;
    }
}


.articles{
    width: 100%;
    padding:20px 30px;
    margin-top: 15rem;
}

.articles h1{
    text-align: center; 
}

.articles .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 1.5em;
    margin: 20px 0 0 0 ;
    
}

.articles .row .col{
    padding: 25px 14px;
    background-color:rgb(235, 234, 234);
}
.articles .row .col h2{
    font-size: 18px;
    margin:20px 0 20px 0;
    margin-left: 5px;
    
}

.articles .row .col p{
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    flex-wrap: wrap;
    margin-left: 5px;
}
.works{
    width: 100%;
    padding: 20px 30px;
    margin: 5em 0px; 
    
}

.works h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    line-height: 5rem;
}
.works .works-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
}

.works .works-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    padding: 4px ;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.works-content img{
    position: absolute;
}
.works .works-content button{
    padding: 15px 20px ;
    background: var(--bg-color);
    margin-right: -45rem;
    transition:.4s;
    z-index: 1;
    
}
.works .works-content:hover button{
    margin-right: 0;
}


.gallery{
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background-image: linear-gradient(rgba(0,0,0,0.57),rgba(0,0,0,0.2)),url(./src/background/background3.jpg);
    background-position:center;
    background-size: cover;
}

.form{
    width: 100%;
    height: 100vh;
    display: flex;    
}

.form .col1{
    flex: 1;
    height: 100vh;
    background:rgb(0, 0, 0);
}
.heading{
    width: 100%;
    height: 25vh;
}
.containner{
    width: 100%;
    height: 75%;
    display: flex;
    background:rgb(0, 0, 0);
}
.form .col1 .box1{
    width: 50%;
    height: 100%;
    border-bottom: 2px solid red;
    outline: none;
    scroll-snap-type: mandatory;
    overflow-y:scroll;
    color: var(--secondtext-color);
}
.form .col1 .box2{
    width:50%;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
}
.form .col2{
    flex: 1;
    padding: 5px 0;
    background-color: rgb(236, 235, 235);
}
.form .col2 input{
    width:90%;
    height: 45px;
    margin: 15px 0 0 25px;
    padding-left:20px;
    font-size:15px;
    position: relative;
    top: 40px;
    outline: none;
    border: none;
    box-shadow: 0px 1px  1px   lightgray;
}
.form .col2 textarea{
    width:60%;
    height: 25%;
    margin: 60px 0 20px 25px;
    padding:10px;
    font-size:15px;
    outline: none;
    border: 1px solid lightgray;
}
.form .col2 button{
    padding:15px 40px;
    margin: 0px 0 0 25px;
    font-size:15px;
    font-weight:bold;
    border: 1px solid lightgray;
    border-radius: 30px;
    cursor: pointer;
}
.info{
    width: 100%;
    height: 40vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./src/background/course-01.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 0 20px 0;
}
.info .info__write{
    width: 80%;
    height: 80%;
    background:var(--secondtext-color);
    padding: 10px;
    margin:auto;
}
.info .info__write h2{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.info .info__write p{
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
}
.info .info__write button{
    margin-left: 45%;
    padding:5px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.footer{
    width: 100%;
    background-color: var(--main-color);
    
}
.footer-wrapper{
    width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
    padding:0 20px;
    
}
.footer-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}
 
  

.footer-content .news-feeds{
    width: 100%s;
    display: flex;
    align-items: center;
    justify-items: center;
}


 .footer-wrapper .footer-content h1{
    color: var(--secondtext-color);
    margin-left: 30px;
    font-size: 23px;
    text-transform: capitalize;
}
.footer-wrapper .footer-content a{
    color: var(--secondtext-color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin: 20px 0 0 30px;
}.footer .col a:Hover{
    color: var(--bg-color);
}

/* .footer-wrapper .footer-content p{
    color: var(--secondtext-color);
} */
.footer-wrapper .footer-content  .footer-contact{
    margin-bottom: 5rem;
}
.footer-wrapper .footer-content .contact-info ul{
    width: 100%;
    list-style: none;
}
.footer-wrapper .footer-content .contact-info ul li{
    display: flex;
    align-items:center;
    margin: 10px auto;
   
}

.footer-wrapper .footer-content .contact-info i{
    font-size: 18px;
    color: var(--bg-color);
    margin-top: 5px;
    margin-right: 10px;
}
.footer-wrapper .footer-content .contact-info a, p{
    font-size: 17px;
    margin-left:10px ;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--secondtext-color);
}

.footer-wrapper .footer-content .social-media{
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 20px;
    margin-top: 20rem;
}
.footer-wrapper .footer-content .social-media i{
    font-size: 20px;
    padding: 10px;
    background-color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.footer-wrapper .footer-content .social-media i:hover{
    background-color: var(--bg-color);
    color: var(--secondtex-color);
    transform: translateY(-10px);
}
.footer-wrapper .footer-content  h4{
    font-size: 20px;
    margin-left:10px ;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--secondtext-color);
    line-height: 2rem;

}
.footer-wrapper .footer-content  .news-feeds{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.footer-content .news-feeds input{
    width: 88%;
    height:45px;
    padding:0px 20px;
    border:none;
    outline:none;
    border-radius: 30px 0px 0px 30px;
}
.footer-content .news-feeds  #subscribe{
    width: 12%;
    height:45px;
    border:none;
    outline:none;
    background: var(--bg-color);
    border-radius: 0% 30px 30px 0%;
    cursor: pointer;
}
.footer-content .news-feeds  #subscribe i{
    font-size: 25px;
    
}


.footer .copywrite p{
    color: var(--secondtext-color);
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    opacity: 0.5;
}


@media screen and (max-width:870px) {
    nav ul{
        position: absolute;
        right: 0;
        top: 5rem;
        display: none;
    }
   .nav-menu{
    display: block;
    width: 30px;
    height: 35px;
    position: relative;
    right: -16rem;
   }
    .card{
        width: 100%;
        padding:0px  10px;
        top: -2rem;
    }
    .articles{
        padding:20px 30px;
        margin-top: 2rem;
    }
    .works{
        margin-top: 1rem;
    }
    .floot-icons{
        display: none;
    }

    .footer-wrapper .footer-content .footer-contact{
        margin-bottom: 2rem;
    }
    .footer-wrapper .footer-content .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-wrapper .footer-content .social-media i{
        font-size: 14px;
    }
}
